/* src/assets/css/favoritesPage.css */
.favorites-page {
  padding: 20px;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cột */
  gap: 20px; /* Khoảng cách giữa các video */
}

.video-item {
  cursor: pointer;
  text-align: center;
  position: relative; /* Để sử dụng cho khung video */
}

.video-thumbnail {
  width: 100%;
  height: auto; /* Để tự động điều chỉnh chiều cao */
  aspect-ratio: 16 / 9; /* Tỷ lệ 16:9 cho video */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.video-title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
.video-lessons-favarite{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.video-lesson-card-favorite{
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: transform 0.2s;
}
.video-lesson-card-favorite:hover {
  transform: translateY(-5px);
}
.video-lesson-card-favorite-wrapper {
  padding: 20px; /* Khoảng cách bao quanh */
  background-color: #b6e2db; /* Màu nền nhạt cho khối bọc */
  border-radius: 12px; /* Bo góc */
  transition: box-shadow 0.2s ease-in-out;
  /* border: 2px solid #e0dede; */
}