footer .text-left {
  text-align: left !important;
}

footer .list-unstyled li {
  margin-bottom: 0.5rem;
}

.social-icons {
  z-index: 1002;
  display: flex;
  justify-content: flex-end;
}

footer .container {
  display: flex;
  justify-content: space-between;
  max-width: 100%; /* Mở rộng toàn bộ chiều rộng */
  padding: 0 50px; /* Thêm khoảng cách hai bên */
}

footer .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

footer h5 {
  margin-bottom: 1.5rem;
}

footer .col-lg-4 {
  flex: 1;
  padding: 0 15px;
  
}

footer .copyright-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;;
  margin-bottom: 30px;
}

footer .social-icons a {
  margin-left: 0.9em;
}


footer .col-lg-4:nth-child(2) {
  margin-left: 30px; 
  margin-right: -30px; 
}

.text-copyright {
 margin-left: 300px;
}

.social-icons {
margin-right: 320px;
}
.container-footer{
  /* margin-left: 190px;  */
  margin-right: 0px;
}
.footer-content{
  margin-left: 260px; 
}