
.box{
    align-items: center;
    background-color: #fff;
    border-radius: 16px;
    color: #404040;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    margin-top: 4px;
    width: 100px;
    border-radius: 16px;
  }
  
  
  .box:hover {
    background-color: #ddd9d9;
  }
  
  .active {
    background-color: #ffffff;
  }
  
  
  
  .box a {
    text-decoration: none;
    font-size: 16px;
    color: black;
  }
  
  
  .row{
    padding-right: 0 !important;
  }
  .sidebar-container {
    position: fixed;
    top: 64px; /* Adjust this value to match your navbar height */
    left: 0;
    bottom: 0;
    width: 100px;
    background-color: #ffffff;
    z-index: 1000;
    overflow-y: auto;
    margin-top: 20px;
  }
  .sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin-left: 20px;

  }
  
  .box {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .box a {
    font-size: 14px;
    font-weight: bold;
  }
  .input-group{
   margin-right: 150px;
  }
  